1. There are a rows with missing titles and there are a bunch of extra columns at the end of the dataframe.  Delete the extra columns and the rows where the title is missing.

2. After the changes in (1), how many rows have missing authors?
Show the titles of the books with missing authors and then
delete those from the data frame. 

3. In the remaining dataset, the price column *mostly* consists of strings with a \$ and then the price.  But a few of the entries don't have the \$ and are already numbers.  

    - Fix this column so every entry is a number and you can do arithmetic on it.   
    - Which books are missing a price? Show those books.
    - Delete any books with missing prices from the data set.

4.  Of the remaining books, which ones  are missing a rating?

    - show the books that are missing a rating
    - delete these books from the data set.

5. The ratings are entered as strings, and, for some reason, a few of the ratings are entered with a $. (So it says \$4.40 instead of 4.4). How many of these are there? Fix this column so that all of the entries are numbers, and get rid of the \$. Drop any rows where the rating is missing. 

6. Make a new column 'quality' where the entry is "Excellent" if the rating is >=4.5,
"Good" if it is between >=3.8 and <4.5, and "Fair" if it is <3.8.

7. Make a table with rows "Excellent", "Good" and "Fair" and Columns "count" and "mean" where the entries are the number of books with each class of ratings and the mean value of the price of the books within each rating class.

8. Make a new column called "python" which has a one if the title of the book includes the word "Python" or "python" and a zero if it doesn't.

9. Make a pivot table with rows the rating classes, columns the yes/no values for Python, and entries the average price within each class.

In [4]:
import pandas as pd
import numpy as np

data = pd.read_csv("/Users/jeremy9959/Grad5100-Working/HW3/Amazon Books Data.csv")

(541, 26)

In [9]:
data.isna().sum()

title            75
description     154
author           76
isbn10          175
isbn13           76
publish_date     78
edition          77
best_seller      74
top_rated        74
rating           78
review_count     78
price            77
Unnamed: 12     541
Unnamed: 13     541
Unnamed: 14     541
Unnamed: 15     541
Unnamed: 16     541
Unnamed: 17     541
Unnamed: 18     541
Unnamed: 19     541
Unnamed: 20     541
Unnamed: 21     541
Unnamed: 22     541
Unnamed: 23     541
Unnamed: 24     541
Unnamed: 25     541
dtype: int64

In [14]:
data = data[~data['title'].isna()]

In [15]:
data.columns

Index(['title', 'description', 'author', 'isbn10', 'isbn13', 'publish_date',
       'edition', 'best_seller', 'top_rated ', 'rating', 'review_count',
       'price', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [19]:
data = data[data.columns[0:12]]

<class 'str'>      464
<class 'float'>      2
Name: price, dtype: int64

In [52]:
data = data.assign(price = data['price'].map(lambda x: float(x[1:]) if isinstance(x,str)  else float(x)))

In [54]:
data

,title,description,author,isbn10,isbn13,publish_date,edition,best_seller,top_rated,rating,review_count,price
0,The Staff Engineer's Path,A Guide for Individual Contributors Navigating...,Tanya Reilly,1098118731,978-1098118730,2022-10-25,1,Yes,No,4.7,189,31.99
1,Cracking the Coding Interview,189 Programming Questions and Solutions,Gayle Laakmann McDowell,984782869,978-0984782857,2015-07-01,6,Yes,No,4.7,8334,33.21
2,"Python Crash Course, 3rd Edition","A Hands-On, Project-Based Introduction to Prog...",Eric Matthes,1718502702,978-1718502703,2023-01-10,3,Yes,No,4.8,165,30.61
3,The Pragmatic Programmer,"20th Anniversary Edition, 2nd Edition: Your Jo...",David Thomas,NaN,978-0135957059,2019-09-13,2,Yes,No,4.8,2521,38.00
4,Clean Code,A Handbook of Agile Software Craftsmanship,Robert C. Martin,NaN,978-0132350884,2008-08-01,1,Yes,No,4.7,5639,40.00
...,...,...,...,...,...,...,...,...,...,...,...,...
462,Programming,"4 Manuscripts in 1 book: Python For Beginners,...",Timothy C. Needham,1728914671,978-1728914671,17-Oct-18,1,No,No,4.4,2167,27.97
463,Transitioning to Java,Kickstart your polyglot programming journey by...,Ken Fogel,1804614017,978-1804614013,28-Apr-23,1,No,No,4.5,2,44.99
464,Java,The Ultimate Beginner's Guide to Learn Java Qu...,Mark Reed,NaN,979-8387893131,21-Mar-23,1,No,No,5,162,24.99
465,Learn Java 17 Programming,Learn the fundamentals of Java Programming wit...,Nick Samoylov,1803241438,978-1803241432,29-Jul-22,2,No,No,4.3,17,39.99
466,Learning Spring Boot 3.0,Simplify the development of production-grade a...,Greg L. Turnquist,1803233303,978-1803233307,30-Dec-22,3,No,No,4.4,18,37.49

In [55]:
data['price']

0      31.99
1      33.21
2      30.61
3      38.00
4      40.00
       ...
462    27.97
463    44.99
464    24.99
465    39.99
466    37.49
Name: price, Length: 466, dtype: float64

In [68]:
authors = data['author'].value_counts()

In [81]:
data['author'][data['author'].map(lambda x: not isinstance(x,str))]

422    NaN
Name: author, dtype: object

In [82]:
data.isna().sum()

title             0
description      79
author            1
isbn10          100
isbn13            1
publish_date      3
edition           3
best_seller       0
top_rated         0
rating            3
review_count      3
price             2
dtype: int64

In [84]:
data[data['author'].isna()]

,title,description,author,isbn10,isbn13,publish_date,edition,best_seller,top_rated,rating,review_count,price
422,Princeton Review AP Computer Science Principle...,3 Practice Tests + Complete Content Review + S...,NaN,593450736,978-0593450734,2022-08-02,1,YES,NO,4.4,36,15.99

In [86]:
data['reviews'].value_counts()

KeyError: 'reviews'

In [89]:
data['rating'].isna().sum()

3

In [91]:
data = data[~data['rating'].isna()]

In [93]:
data['rating'].value_counts()

4.7       98
4.6       77
4.5       60
4.4       52
4.8       46
4.3       31
5         29
4.9       22
4.2       10
4.1        8
0          7
3.9        6
3.8        4
4          3
3.6        3
3.4        1
3.3        1
$4.70      1
$4.40      1
3.5        1
3.7        1
3.1        1
Name: rating, dtype: int64

In [96]:
data['rating'].apply(lambda x: float(x))

ValueError: could not convert string to float: '$4.70 '

In [98]:
data = data.assign(rating=data['rating'].map(lambda x: float(x.replace('$',''))))

In [100]:
data['rating'].mean()

4.4984881209503245

In [106]:
data=data.assign(quality = data['rating'].map(lambda x: "Excellent" if x>=4.5 else "Good" if x>=3.8 and x<4.5 else "Fair" if x<3.8 else ""))

In [128]:
data = data.assign(python = data['title'].map(lambda x: 1 if "Python" in x or "python" in x else 0))

In [129]:
data['python']

0      0
1      0
2      1
3      0
4      0
      ..
462    0
463    0
464    0
465    0
466    0
Name: python, Length: 463, dtype: int64

In [130]:
by_quality = data.groupby(['quality','python'])['price'].agg(['count','mean'])

In [131]:
by_quality

                  count       mean
quality   python
Excellent 0         298  31.488591
          1          35  30.882857
Fair      0          13  30.259231
          1           2  38.495000
Good      0         106  34.801226
          1           9  31.826667

In [132]:
pd.pivot_table(by_quality, index='quality',columns='python',values='mean')

python             0          1
quality
Excellent  31.488591  30.882857
Fair       30.259231  38.495000
Good       34.801226  31.826667

In [133]:
data.shape

(463, 14)