# Jupyter Lab Project Walkthrough

1. Use the 'text editor' feature in Jupyter Lab to create your README.md file.
2. **RENAME YOUR NOTEBOOK FILE IMMEDIATELY** to something relevant
3. CTRL-ENTER executes a cell.

## Markdown cells

This is a markdown cell:

- Headings are \#, \#\#, etc.
- Bold is marked \*\*make me bold\*\* like **this**.
- Italics are marked \*make me italic\* like *this*.
- Math can be typeset with \LaTeX if you know it:  $$f(x)=e^{-x}\cos(x)$$
- Bulleted lists are marked with \-.

In [3]:
# code cells
## Code cells contain python code that gets executed.  
# indicates a comment that is ignored.
print("Hello World!")

Hello World!

In this walkthrough we will look at the following elements of Python in a jupyter notebook.

The print statement

In [1]:
print("hello world!")

hello world!


Variables, variable names, and assignment/datatypes

In [34]:
count = 5 # an integer
name = "Jeremy Teitelbaum" # a string
paragraph = """This is how you enter a multiline string
in python. It is enclosed in triple quotes."""
pi = 3.14159 # a float
epsilon = 1.0e-6 # a float
students = ["Jeremy", "Phillip", "Sara", "Molly"] # a list
HotDog = True

In [36]:
print(students)

['Jeremy', 'Phillip', 'Sara', 'Molly']

In [35]:
print(paragraph)

This is how you enter a multiline string
in python. It is enclosed in triple quotes.

Arithmetic operations

In [5]:
print(count)
count = count + 1
print(count)

5
6

In [7]:
1/pi

0.31831015504887655

In [12]:
print(2**3) # exponent
print(1/2) # division (converts integer to float)
print(1/(1/2)) # 2 becomes 2.0

8
0.5
2.0

In [15]:
quotient = 5//3 # integer division
remainder = 5 % 3 # remainder
print(quotient, remainder)

1 2


Operations on strings and lists

In [17]:
"Jeremy" + " Teitelbaum"

'Jeremy Teitelbaum'

In [18]:
["a","b","c"]+["d"]

['a', 'b', 'c', 'd']

In [19]:
len("Jeremy")

6

In [20]:
len(["Jeremy","Teitelbaum"])

2

In [26]:
firstName = "Jeremy"
lastName = "Teitelbaum"
fullName = firstName + " " + lastName

Jeremy
Teitelbaum
Jeremy Teitelbaum

Some fancier printing

In [31]:
print(f"The first name is {firstName}")
print(f"The last name is {lastName}")
print(f"The full name is {firstName} {lastName}")
print(firstName, lastName, sep=',')
print(firstName, lastName, sep=':')

The first name is Jeremy
The last name is Teitelbaum
The full name is Jeremy Teitelbaum
Jeremy,Teitelbaum
Jeremy:Teitelbaum

Slicing

In python, we **always count from zero**!!!

In [37]:
firstName[0]

'J'

In [38]:
lastName[1]

'e'

In [40]:
# [a:b] means from a to b-1 inclusive

print(firstName[0:3])
print(firstName[3:])
print(firstName[3:5])

Jer
emy
em
y

In [42]:
# negative indices count from the end
print(firstName[-1]) # the last element
print(firstName[-3:-1]) # elements -3 and -2, but not -1

y
em

In [48]:
# [a:b:c] means from a to b-1 in steps of c
# missing numbers mean (beginnging):(end)
print(firstName[:5:2])
print(firstName[::2])
print(firstName[::-1]) # reverse the string
print(firstName[3::-1]) # 3,2,1,0
print(firstName[3:0:-1]) # 3,2,1

Jrm
Jrm
ymereJ
ereJ
ere

Slices work the same on list elements

In [52]:
print(students[0])
print(students[-1])
every_other_student = students[::2]
print(every_other_student)

Jeremy
Molly
['Jeremy', 'Sara']
['Jeremy', 'Sara']

Libraries

In [53]:
import math

In [54]:
math.log(23)

3.1354942159291497

In [55]:
math.pi

3.141592653589793

In [62]:
math.cos(math.pi/2) # should be zero

6.123233995736766e-17

In [63]:
math.cos(math.pi/2)==0

False

In [64]:
abs(math.cos(math.pi/2))<1e-6

True

In [65]:
math.pi == pi

False